body {
  background-color: black;
}

.output {
  white-space: pre;
  text-align: left;
}

.switchbox {
  display: inline-block;
}

.label-btn {
  display: inline-block;
}

.buttons-upload {
  padding: 10px;
}

.form-group {
  padding: 20px 0 20px 0;
}

label {
  display: block;
  padding: 0 10px 0 0;
  vertical-align: middle;
}

.text-input-group {
  padding: 20px 0 20px 0;
}

.form-description {
  vertical-align: middle;
}

.image-thumb {
  width: 50%;
}

.transfer-status {
  font-size: 1.3em;
}

.transfer-status-error {
  font-size: 1.3em;
  background: red;
}

.transfer-status-complete {
  font-size: 1.3em;
  background: green;
}

.closed-connection {
  font-size: 1.3em;
  background: red;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connection-error {
  font-size: 1.3em;
  color: black;
  background: orange;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
  

#app {
  background-color: black;
  color: #e6e6e6;
}

#nav a.router-link-exact-active {
  color: lightgray;
}

#nav a {
  color: gray;
}

.btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-container {
  margin-top: 12.5%;
}

.photo-element {
  width: 100%;
  padding: 20px 0 20px 0;
}

.photo-img-element {
  width: 100%;
}

.photo-img-edit-element {
  width: 60%;
}

.photo-row {
  display: flex;
}

.photo-col-txt {
  flex: 2;
}

.photo-col-btn {
  flex: 0;
}

.photo-col-img {
  flex: 4;
}

.btn-stop {
  background-color: #ee1142;
  border: 1px solid #ee1142;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-delete {
  background-color: #ee1142;
  border: 1px solid #ee1142;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  margin: 3%;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-edit {
  background-color: #42ee11;
  border: 1px solid #42ee11;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  margin: 3%;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-ok {
  background-color: #11ee42;
  border: 1px solid #11ee42;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  margin: 3%;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  .btn {
    padding: 10px 30px;
  }
  .btn-stop {
    padding: 10px 30px;
  }
  .btn-edit {
    padding: 10px 30px;
  }
  .btn-ok {
    padding: 10px 30px;
  }
  .btn-delete {
    padding: 10px 30px;
  }
  .photo-img-element {
    width: 60%;
  }
  .image-thumb {
    width: 30%;
  }
}
